{% extends 'app/base.html' %}

{% block js %}
<script>
    function eliminarProducto(id) {
            Swal.fire ({
                "title": "¿Estás seguro?",
                "text": "Esta acción no se puede deshacer",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, cancelar.",
                "confirmButtonText": "Si, eliminar.",
                "reverseButtons": true,
                "confirmButtonColor": "#000" })
            .then(function(result){
                if(result.isConfirmed) {
                    window.location.href = "/Eliminar-producto/"+id+"/"
                }
            })
    }
</script>
{% endblock %}


{% block contenido %}
{% load humanize %}

<div style="padding: 34px;">
<div id="productoslista">
<h2>Listado de Productos</h2>
{% for p in entity %}
<hr/>
<div>
<dl class="prodNombre">
<dt><h3>Nombre:</h3></dt>
<dd><p>{{ p.nombre | title }}</p></dd>
</dl>
<dl>
<dt><h3>Marca:</h3></dt>
<dd><p>{{ p.marca | title }}.</p></dd>
<dt><h3>Estado:</h3></dt>
<dd><p>{% if p.nuevo %}Nuevo{% else %}Reacondicionado{% endif %}.</p></dd>
<dt><h3>Precio:</h3></dt>
<dd><p>${{ p.precio | intcomma }}.</p></dd>
</dl>
<p>{% if perms.app.delete_producto %}<a href="#" onclick="eliminarProducto( {{ p.id }} )" class="btn btn-secondary btn-sm">Eliminar</a>{% endif %} {% if perms.app.delete_producto and perms.app.change_producto  %}|{% endif %} {% if perms.app.change_producto %}<a href="{% url 'Modificar_producto' p.id %}" class="btn btn-primary btn-sm">Modificar</a>{% endif %}</p>
</div>
{% endfor %}

<div style="margin: 55px 0 0 0;">
{% include 'app/paginator.html' %}
</div>

</div>
</div>

{% endblock %}