{% extends 'app/base.html' %}

{% load static %}
{% block js %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
<script src="{% static 'app/js/traducciones.js' %}"></script>

<script src="{% static 'app/js/menu.js' %}"></script>
<script src="{% static 'app/js/feriados.js' %}"></script>

{% endblock %}

{% block css %}
{% endblock %}


{% block contenido %}
{% load crispy_forms_tags %}
<br>
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <form action="" class="" method="post">
            <div class="card">
                <div class="card-body">
                    <h2>Contactanos!</h2>
            <hr>
            {% csrf_token %}
            {{ form | crispy }}
            <hr>
            <br/>
            
                <div class="d-flex justify-content-end">
                    <input type="reset" value="cancelar" class="btn btn-secondary">
                    &nbsp;
                    <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                </div>
                
                
            
            </form>
            {{ mensaje }}
                </div>
            </div>
            
    </div>

</div>


<table id="tablacontactos">
    
</table>





{% endblock %}