{% extends 'app/base.html' %}

{% block js %}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
{% endblock %}

{% block css %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock %}


{% block contenido %}

{% load static %}

{% load humanize %}
<div style="padding: 34px;">
    <div style="max-width: 987px; margin: 2em auto;">

<h2>Productos</h2>
<hr/>
<div class="flexOne">
{% for p in productos %}
 
     <div class="_prod" {% if p.imagen %} style="background-image: url('{{ p.imagen.url }}');" {% endif %}>
          
          <div class="_proddesc">
               <h5>{{ p.marca | capfirst }}</h5>
               <h2>{{ p.nombre | title }}</h2>
               <h3>$ {{ p.precio | intcomma }}</h3>
          </div>
     </div>

{% endfor %}
</div>
</div>
</div>


{% endblock %}